:root {
  /* colors */
  /* https://www.canva.com/colors/color-wheel/print/1fe0dd+1f83e0+1fe07c/ */
  /*
60% of #1FE0DD - Dominant
30% of #1F83E0 - Secondary 
10% of #1FE07C - Accent
*/

  --dominantColor: #1fe0dd; /* var(--dominantColor) !important; */
  --secondaryColor: #1f83e0; /* var(--secondaryColor) !important; */
  --accentColor: #1fe07c; /* var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*https://shadows.brumm.af/*/
  /* vertical, horizontal, blur, spread, color+opacity */
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow) !important; */
}
